In [15]:
# 游꺟 An치lise do Impacto do Clima na Produ칞칚o de Milho - Mato Grosso

## 1. Importa칞칚o de Bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Estilo dos gr치ficos
sns.set(style="whitegrid") 
%matplotlib inline

In [33]:
## 2. Carregamento dos Dados

# Substituir pelos arquivos reais assim que baixar
df_producao = pd.read_csv("C:/Users/Jonas/Documents/MeusProjetos/Projetos_e_Analises/milho-clima-mt/data/raw/milho-mt.csv", sep = ";", quotechar='"', skiprows=3)
df_clima = pd.read_csv("C:/Users/Jonas/Documents/MeusProjetos/Projetos_e_Analises/milho-clima-mt/data/raw/dados_clima_mt.csv", sep = ",", quotechar='"')

# Visualizar as primeiras linhas
display(df_producao.head(10))
display(df_clima.head())

C:\Users\Jonas\AppData\Local\Temp\ipykernel_14116\1329663467.py:5: DtypeWarning: Columns (1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_clima = pd.read_csv("C:/Users/Jonas/Documents/MeusProjetos/Projetos_e_Analises/milho-clima-mt/data/raw/dados_clima_mt.csv", sep = ",", quotechar='"')

,N칤vel,C칩d.,"UF, Mesorregi칚o, Microrregi칚o e Munic칤pio, em ordem de c칩digo de Meso e Micro, e nome de Munic칤pio - MT",2000,Unnamed: 4,2001,Unnamed: 6,2002,Unnamed: 8,2003,...,Unnamed: 40,2019,Unnamed: 42,2020,Unnamed: 44,2021,Unnamed: 46,2022,Unnamed: 48,2023
N칤vel,C칩d.,"UF, Mesorregi칚o, Microrregi칚o e Munic칤pio, em ...",Total,Milho (em gr칚o),Total,Milho (em gr칚o),Total,Milho (em gr칚o),Total,Milho (em gr칚o),...,Total,Milho (em gr칚o),Total,Milho (em gr칚o),Total,Milho (em gr칚o),Total,Milho (em gr칚o),Total,Milho (em gr칚o)
UF,51,Mato Grosso,4746968,562582,4882136,540085,5632992,723135,6445164,882658,...,16594186,5026449,17150016,5318762,17930752,5808096,19125237,6416967,21220170,7429526
ME,5101,Norte Mato-grossense,2926454,315682,3002330,316423,3527126,491014,4092316,613510,...,11023764,3641603,11314594,3814190,11665264,4091913,12534821,4527662,13596483,4979232
MI,51001,Aripuan칚,100505,20010,107647,18496,138904,23506,168315,26024,...,421168,149521,427203,147655,434850,129661,489655,166094,586175,215934
MU,5101407,Aripuan칚,9390,2600,2793,1000,4008,1700,4660,2500,...,6827,4400,6752,4105,8484,4905,10439,5515,19846,8330
MU,5101902,Brasnorte,74565,9300,78685,6475,97055,2900,120013,8500,...,388796,134000,392671,132500,390400,111471,433780,143545,498965,182500
MU,5102850,Castanheira,2490,900,2089,1001,2012,850,2219,1023,...,430,150,382,100,1812,110,1192,264,2454,272
MU,5103254,Colniza,...,...,7130,2000,19415,10000,23430,5000,...,5975,3870,4845,2865,5187,3115,5212,3115,5357,3372
MU,5103379,Cotrigua칞u,3276,1320,4862,1400,6587,2500,5677,2875,...,2024,950,2648,1000,3229,1300,4547,1755,10135,6000
MU,5105150,Ju칤na,8107,4600,7632,4500,7642,4500,10049,5120,...,14633,4481,17703,5425,22956,6800,30135,9200,43850,12350

,data,estacao,precipitacao,temp_min,temp_med,temp_max,umid_min,umid_med
0,2000-01-01,82927,NaN,21,"25,5",32,69.0,"84,3"
1,2000-01-02,82927,NaN,"22,6",NaN,NaN,67.0,NaN
2,2000-01-03,82927,NaN,22,"25,8",33,79.0,"89,3"
3,2000-01-04,82927,NaN,"22,4","25,5","33,2",74.0,"86,8"
4,2000-01-05,82927,NaN,25,NaN,"28,8",90.0,NaN